@charset "UTF-8";

/* 
    paleta de cores
    Verde: #49a09d
    Roxo: 5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #5f2c82;
}

p {
    text-align: left;
}

h1{
    text-align: center;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    padding: 10px;
    margin: auto;
    height: 570px;
    width: 315px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.609);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

form {
    text-align: center;
}

div#imagem {
    display: block;
    background: #4960a0 url(../imagens/imagens-media.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 190px;
    margin: -16px -16px -2px -16px;
}

div.campo {
    background-color: #5f2c82;
    padding: -9px;
    height: 52px;
    margin: 10px 1px 1px 1px;
    border-radius: 10px;
}

div.campo > span {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 15px;
    margin-top: 10px;
    margin-right: 20px;
}

div > input {
    height: 15px;
}

div.botao {
    margin: 10px 0px 15px 0px;
}

div.botao span {
    background-position: center cen;
    color: rgb(0, 0, 0);
    /*background-color: black;*/
    font-size: 15px;
    width: 40px;
    padding: 10px 8px 22px 10px;
}

div.campo input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 60px);
    height: 36px;
    margin: -20px -2px 2px 2px;
    border: 1px solid #49a09d;
    border-radius: 5px 8px 8px 5px;
    padding: 4px;
    transform: translateY(-8px);
}

input.input {
    background-color: #49a09d;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 50px;
    padding: auto;
    border: 1px solid #49a09d;
    border-radius: 10px;
    cursor: pointer;
}
input.input:hover{
    background-color: #469b98;
}

a {
    text-decoration: none;
    color: black;
}

a.esqueci {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 99.9%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #1d3f3e;
    border: 1px solid #49a09d;
    border-radius: 10px;
}

a:hover {
    background-color: #6cd3cf;
}